[submodule "Arduino_Makefile_master"]
	path = Arduino_Makefile_master
	url = https://github.com/Lauszus/Arduino_Makefile_master.git
[submodule "VendingMachinePython"]
	path = VendingMachinePython
	url = https://github.com/Jervelund/VendingMachinePython.git
[submodule "VendingMachineRFID"]
	path = VendingMachineRFID
	url = https://github.com/Jervelund/VendingMachineRFID
